---
import { MobileNav } from '~/components/pages/MobileNav.tsx'
import { headerData } from '~/data/data.ts'
import {Nav} from '~/components/sections/Nav'
---

<div>
    <MobileNav client:load headerProps={headerData}  />
    <Nav />
    <slot/>
</div>

